
body{
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/cartoon.jpg);
}
.header {
    background-color: black;
    color: red;
    padding: 20px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }

  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    color: red;
    text-decoration: none;
  }

h1{
    text-align: center;
    color: red;
    background-color: black;
}

#AREAS{
    width: 80%;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 15% 15% 60% 15%;
    grid-template-rows: 200% 200% 200% 200%;
   
    gap:20px;

}
.caja1{
    background-image: url(imagenes/cinema.webp);
}
.caja2{
    background-image: url(imagenes/cine.jpg);
}
.caja3{
    background-image: url(imagenes/wo.jpg);
    background-size: cover;
}
.caja4{
    background-image: url(imagenes/cine_bg.webp);
    background-size: cover;
}


.caja{
    border: 1px solid black;
    background-color: skyblue;
    text-align: center;
    line-height: 150px;
}
p{
text-align: center;
color: aliceblue;
background-color: black;
}
.footer{
  background-color: black;
  padding: 20px 0;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer-link{
  width: 25%;
  padding:0 15px ;
}
.footer-link h4{
  font-size: 20px;
  color: white;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00C3FF;
  display: inline-block;
  padding-bottom: 10px;
}
.footer-link ul li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}
.footer-link ul li a:hover{
  color: aliceblue;
  padding-left: 6px;

}
.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255 , 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: aliceblue;
  transition: all .5s ease;
}
.social-link a:hover{
  background-color: #00C3FF;
}
@media(max-width:991px){
  .footer-row{
    text-align: center;
  }
  .footer-link{
    width: 100%;
    margin-bottom: 30px;
  }
}
